## Import Dataset

In [0]:
import os
import json
import gzip
import pandas as pd
import numpy as np
from urllib.request import urlopen
from datetime import datetime

In [0]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Cell_Phones_and_Accessories_5.json.gz

--2020-04-12 23:32:28--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Cell_Phones_and_Accessories_5.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 169071325 (161M) [application/octet-stream]
Saving to: ‘Cell_Phones_and_Accessories_5.json.gz’

Cell_Phones_and_Acc 100%[===================>] 161.24M  10.8MB/s    in 15s

2020-04-12 23:32:43 (10.7 MB/s) - ‘Cell_Phones_and_Accessories_5.json.gz’ saved [169071325/169071325]

In [0]:
data = []
with gzip.open('Cell_Phones_and_Accessories_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

1128437
{'overall': 5.0, 'verified': True, 'reviewTime': '08 4, 2014', 'reviewerID': 'A24E3SXTC62LJI', 'asin': '7508492919', 'style': {'Color:': ' Bling'}, 'reviewerName': 'Claudia Valdivia', 'reviewText': 'Looks even better in person. Be careful to not drop your phone so often because the rhinestones will fall off (duh). More of a decorative case than it is protective, but I will say that it fits perfectly and securely on my phone. Overall, very pleased with this purchase.', 'summary': "Can't stop won't stop looking at it", 'unixReviewTime': 1407110400}

In [0]:
# convert list into pandas dataframe
df = pd.DataFrame.from_dict(data)
#print(len(df))

In [0]:
#df3 = df.fillna(0)

In [0]:
df2 = df
df2['vote'] = df2['vote'].fillna('0')

In [0]:
df2['reviewTime'] = pd.to_datetime(df2['reviewTime'], format ='%m %d, %Y')

In [0]:
df2['image'] = np.where(df2['image'].isnull(), 0, 1)
df2['verified'] = np.where(df2['verified'] == True, 1, 0)

In [0]:
df2['vote'] = df2['vote'].astype(str) 
df2['vote'] = df2["vote"].str.replace(",","")
df2['vote'] = df2['vote'].astype(int)

In [0]:
#df2.groupby(['asin','reviewerID']).size().sort_values(ascending=False).reset_index(name='count').drop_duplicates(subset='reviewerID')

## Prepare Influencers Dataset 
1000 rows : 500 influencers, 500 non-influencers

In [0]:
influencers = df2.sort_values('vote', ascending=False).drop_duplicates(['asin','reviewerID'],keep='last')
influencers['endDate'] = datetime(2018,10,2)
influencers['duration'] = influencers['endDate'] - influencers['reviewTime']
influencers['duration'] = influencers['duration'] / np.timedelta64(1, 'D')
influencers['durationYear'] = round(influencers['duration'] / 365 , 2)
influencers['avgVote'] = round(influencers['vote'] / influencers['durationYear'] , 0)
influencers.head()

        overall  verified reviewTime  ... duration durationYear avgVote
733414      5.0         0 2015-08-21  ...   1138.0         3.12   653.0
998698      4.0         1 2016-07-14  ...    810.0         2.22   782.0
909912      5.0         1 2016-02-05  ...    970.0         2.66   530.0
694008      5.0         1 2015-04-30  ...   1251.0         3.43   395.0
877008      3.0         0 2015-12-28  ...   1009.0         2.76   449.0

[5 rows x 16 columns]

In [0]:
#sum(1 for x in influencers['avgVote'] if x >=(40))
influencers = influencers.sort_values('avgVote', ascending=False)
nonInfluencers = influencers.iloc[500:,:].sample(n=500)
nonInfluencers['influencer'] = 0 
influencers = influencers.head(500)
influencers['influencer'] = 1
influencers = pd.concat([influencers, nonInfluencers], axis=0)

In [0]:
influencers['reviewTime'] = pd.DatetimeIndex(influencers['reviewTime'], dtype='datetime64[ns]', freq=None)
influencers = influencers.set_index('reviewTime')
influencers['Year'] = influencers.index.year
influencers['Month'] = influencers.index.month
influencers['Weekday'] = influencers.index.weekday

In [0]:
influencers.reset_index(inplace = True)
influencers.drop(['style', 'endDate','duration','durationYear','vote'], axis=1,inplace = True)
influencers

    reviewTime  overall  verified  ...  Year Month Weekday
0   2016-07-14      4.0         1  ...  2016     7       3
1   2015-08-21      5.0         0  ...  2015     8       4
2   2016-02-05      5.0         1  ...  2016     2       4
3   2016-04-28      4.0         1  ...  2016     4       3
4   2016-09-25      5.0         0  ...  2016     9       6
..         ...      ...       ...  ...   ...   ...     ...
995 2013-08-09      5.0         1  ...  2013     8       4
996 2015-09-06      5.0         1  ...  2015     9       6
997 2016-11-16      5.0         1  ...  2016    11       2
998 2017-06-17      5.0         0  ...  2017     6       5
999 2015-06-26      4.0         1  ...  2015     6       4

[1000 rows x 15 columns]

In [0]:
influencers["nb_words"] = influencers["reviewText"].apply(lambda x: len(x.split(" ")))
influencers.head()

  reviewTime  overall  verified      reviewerID  ...  Year Month Weekday nb_words
0 2016-07-14      4.0         1  A22QN0P5ERNOKR  ...  2016     7       3      574
1 2015-08-21      5.0         0   AQJ824C2JST96  ...  2015     8       4      862
2 2016-02-05      5.0         1  A1BDNTBJ0JWXSL  ...  2016     2       4      872
3 2016-04-28      4.0         1  A3CLNI0ID1OON8  ...  2016     4       3     1408
4 2016-09-25      5.0         0  A2NB2E5DXE319Z  ...  2016     9       6     1973

[5 rows x 16 columns]

In [0]:
# how those unformatted rows look like
influencers.iloc[0]

reviewTime                                      2016-07-14 00:00:00
overall                                                           4
verified                                                          1
reviewerID                                           A22QN0P5ERNOKR
asin                                                     B01F9N5QXI
reviewerName                                                Paul M.
reviewText        <div id="video-block-R1K03IBUILYEB0" class="a-...
summary           The only thing "cheap" about this budget smart...
unixReviewTime                                           1468454400
image                                                             1
avgVote                                                         782
influencer                                                        1
Year                                                           2016
Month                                                             7
Weekday                                                           3
nb_words                                                        574
Name: 0, dtype: object

##Export to CSV

In [0]:
influencers.to_csv('influencers.csv', index=False)

In [0]:
new_output = pd.read_csv('influencers.csv', keep_default_na=False, na_values=[""])

In [0]:
new_output

     reviewTime  overall  verified  ... Month Weekday nb_words
0    2016-07-14      4.0         1  ...     7       3      574
1    2015-08-21      5.0         0  ...     8       4      862
2    2016-02-05      5.0         1  ...     2       4      872
3    2016-04-28      4.0         1  ...     4       3     1408
4    2016-09-25      5.0         0  ...     9       6     1973
..          ...      ...       ...  ...   ...     ...      ...
995  2013-08-09      5.0         1  ...     8       4       74
996  2015-09-06      5.0         1  ...     9       6      196
997  2016-11-16      5.0         1  ...    11       2        4
998  2017-06-17      5.0         0  ...     6       5       26
999  2015-06-26      4.0         1  ...     6       4       17

[1000 rows x 16 columns]

In [0]:
type(new_output['Year'])

pandas.core.series.Series